In [1]:
#initial Imports
import pandas as pd
import os

In [2]:
#csv files toload
file_path = ("Resources/GDP_growth.csv")
country_code_file_path = ("Resources/country-codes.csv")
countries_region_income = ("Resources/countries_region_income.csv")

## Clean GDP_Growth

In [3]:
#read in df
GDP_growth = pd.read_csv(file_path)
df = pd.DataFrame(GDP_growth)
df.head(10)

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Last Updated Date,9/16/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000
4,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.035375,6.429817,-0.020479,3.543630,2.116716,5.482371,1.267218,-2.085600,-22.318948,NaN
5,Africa Eastern and Southern,AFE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,0.239594,7.980768,5.164334,4.579952,5.327717,...,0.923067,4.200209,3.984387,2.952845,2.217017,2.557135,2.485244,2.025941,-2.886856,4.303667
6,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,12.752287,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603,-2.351101,NaN
7,Africa Western and Central,AFW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,1.848752,3.770220,7.272440,5.396349,4.049793,...,5.142997,6.104192,5.927355,2.745894,0.127844,2.317679,2.952190,3.202544,-0.897014,3.914799
8,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,8.540000,4.950000,4.820000,0.940000,-2.580000,-0.150000,-1.316312,-0.700000,-5.500000,0.700000
9,Albania,ALB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,1.417243,1.002018,1.774449,2.218726,3.314981,3.802227,4.019360,2.088063,-3.481630,8.544083

In [4]:
#get header rows
headers = []

In [5]:
#drop first 3 rows with no data
GDP_growth_df = df.iloc[3:, :]

#use new first row as headers
headers = GDP_growth_df.iloc[0]
GDP_growth_df = GDP_growth_df[1:]
GDP_growth_df.columns = headers

GDP_growth_df.head(10)

3,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
4,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.035375,6.429817,-0.020479,3.543630,2.116716,5.482371,1.267218,-2.085600,-22.318948,NaN
5,Africa Eastern and Southern,AFE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,0.239594,7.980768,5.164334,4.579952,5.327717,...,0.923067,4.200209,3.984387,2.952845,2.217017,2.557135,2.485244,2.025941,-2.886856,4.303667
6,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,12.752287,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603,-2.351101,NaN
7,Africa Western and Central,AFW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,1.848752,3.770220,7.272440,5.396349,4.049793,...,5.142997,6.104192,5.927355,2.745894,0.127844,2.317679,2.952190,3.202544,-0.897014,3.914799
8,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,8.540000,4.950000,4.820000,0.940000,-2.580000,-0.150000,-1.316312,-0.700000,-5.500000,0.700000
9,Albania,ALB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,1.417243,1.002018,1.774449,2.218726,3.314981,3.802227,4.019360,2.088063,-3.481630,8.544083
10,Andorra,AND,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-4.974444,-3.547597,2.504466,1.434140,3.709678,0.346072,1.588765,2.015548,-11.183940,8.949418
11,Arab World,ARB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,5.074697,2.564217,2.348679,3.052634,3.175147,1.242608,2.363881,1.586319,-5.051383,3.530294
12,United Arab Emirates,ARE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,4.483792,5.053078,4.410085,5.060335,2.984216,2.373551,1.189856,3.411539,-6.134501,NaN
13,Argentina,ARG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,5.427843,-0.852022,-5.308197,10.130298,10.569433,...,-1.026420,2.405324,-2.512615,2.731160,-2.080328,2.818503,-2.617396,-2.025934,-9.895269,10.263761

In [6]:
#drop columns that will not be of use
GDP_growth_df = GDP_growth_df.drop(GDP_growth_df.columns[2:45], inplace=False, axis=1)
GDP_growth_df

3,Country Name,Country Code,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
4,Aruba,ABW,4.195963,-0.957771,1.120879,7.281026,-0.384927,1.138906,3.096722,1.833431,...,-1.035375,6.429817,-0.020479,3.543630,2.116716,5.482371,1.267218,-2.085600,-22.318948,NaN
5,Africa Eastern and Southern,AFE,3.658701,3.893379,3.080376,5.508355,6.116801,6.554881,6.604282,4.343456,...,0.923067,4.200209,3.984387,2.952845,2.217017,2.557135,2.485244,2.025941,-2.886856,4.303667
6,Afghanistan,AFG,NaN,NaN,8.832278,1.414118,11.229715,5.357403,13.826320,3.924984,...,12.752287,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603,-2.351101,NaN
7,Africa Western and Central,AFW,5.212684,9.899548,5.518474,8.013453,5.848364,5.374482,5.530899,6.279223,...,5.142997,6.104192,5.927355,2.745894,0.127844,2.317679,2.952190,3.202544,-0.897014,3.914799
8,Angola,AGO,4.205999,13.665689,2.990000,10.950000,15.030000,11.550000,14.010000,11.170000,...,8.540000,4.950000,4.820000,0.940000,-2.580000,-0.150000,-1.316312,-0.700000,-5.500000,0.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.712195,5.340908,3.348804,5.916270,5.571757,4.825690,3.406631,4.756831,-5.340275,9.127578
266,"Yemen, Rep.",YEM,3.803646,3.935232,3.747398,3.972696,5.591748,3.170409,3.338428,3.647569,...,2.392886,4.823415,-0.188574,-27.994546,-9.375124,-5.071796,0.752448,1.400000,-8.500000,-2.061513
267,South Africa,ZAF,2.700000,3.700374,2.949075,4.554560,5.277052,5.603806,5.360474,3.191044,...,2.396232,2.485468,1.413826,1.321862,0.664552,1.157947,1.487617,0.113054,-6.431975,4.914603
268,Zambia,ZMB,5.316868,4.506014,6.944974,7.032395,7.235599,7.903694,8.352436,7.773896,...,7.597593,5.057232,4.697992,2.920375,3.776679,3.504336,4.034494,1.441306,-2.785055,3.572815
269,Zimbabwe,ZWE,1.439615,-8.894024,-16.995075,-5.807538,-5.711084,-3.461495,-3.653327,-17.668946,...,16.665429,1.989493,2.376929,1.779873,0.755869,4.709492,4.824211,-6.144236,-6.248748,5.849420

In [7]:
#clean Up DataFrame
#replace column names
GDP_growth_df = GDP_growth_df.set_axis(['Country Name', 'Country Code', '2001', '2002','2003','2004','2005','2006',
                                            '2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017',
                                            '2018','2019','2020','2021'], axis = 1)
GDP_growth_df

,Country Name,Country Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
4,Aruba,ABW,4.195963,-0.957771,1.120879,7.281026,-0.384927,1.138906,3.096722,1.833431,...,-1.035375,6.429817,-0.020479,3.543630,2.116716,5.482371,1.267218,-2.085600,-22.318948,NaN
5,Africa Eastern and Southern,AFE,3.658701,3.893379,3.080376,5.508355,6.116801,6.554881,6.604282,4.343456,...,0.923067,4.200209,3.984387,2.952845,2.217017,2.557135,2.485244,2.025941,-2.886856,4.303667
6,Afghanistan,AFG,NaN,NaN,8.832278,1.414118,11.229715,5.357403,13.826320,3.924984,...,12.752287,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603,-2.351101,NaN
7,Africa Western and Central,AFW,5.212684,9.899548,5.518474,8.013453,5.848364,5.374482,5.530899,6.279223,...,5.142997,6.104192,5.927355,2.745894,0.127844,2.317679,2.952190,3.202544,-0.897014,3.914799
8,Angola,AGO,4.205999,13.665689,2.990000,10.950000,15.030000,11.550000,14.010000,11.170000,...,8.540000,4.950000,4.820000,0.940000,-2.580000,-0.150000,-1.316312,-0.700000,-5.500000,0.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.712195,5.340908,3.348804,5.916270,5.571757,4.825690,3.406631,4.756831,-5.340275,9.127578
266,"Yemen, Rep.",YEM,3.803646,3.935232,3.747398,3.972696,5.591748,3.170409,3.338428,3.647569,...,2.392886,4.823415,-0.188574,-27.994546,-9.375124,-5.071796,0.752448,1.400000,-8.500000,-2.061513
267,South Africa,ZAF,2.700000,3.700374,2.949075,4.554560,5.277052,5.603806,5.360474,3.191044,...,2.396232,2.485468,1.413826,1.321862,0.664552,1.157947,1.487617,0.113054,-6.431975,4.914603
268,Zambia,ZMB,5.316868,4.506014,6.944974,7.032395,7.235599,7.903694,8.352436,7.773896,...,7.597593,5.057232,4.697992,2.920375,3.776679,3.504336,4.034494,1.441306,-2.785055,3.572815
269,Zimbabwe,ZWE,1.439615,-8.894024,-16.995075,-5.807538,-5.711084,-3.461495,-3.653327,-17.668946,...,16.665429,1.989493,2.376929,1.779873,0.755869,4.709492,4.824211,-6.144236,-6.248748,5.849420

In [8]:
#count null values in each row
GDP_growth_df.isnull().sum()

Country Name     0
Country Code     0
2001            22
2002            21
2003            16
2004            16
2005            15
2006            15
2007            14
2008            15
2009            13
2010            13
2011            13
2012            13
2013            13
2014            11
2015            12
2016            12
2017            12
2018            12
2019            14
2020            17
2021            38
dtype: int64

In [9]:
#drop Null Values
GDP_growth_df = GDP_growth_df.dropna()
GDP_growth_df

,Country Name,Country Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
5,Africa Eastern and Southern,AFE,3.658701,3.893379,3.080376,5.508355,6.116801,6.554881,6.604282,4.343456,...,0.923067,4.200209,3.984387,2.952845,2.217017,2.557135,2.485244,2.025941,-2.886856,4.303667
7,Africa Western and Central,AFW,5.212684,9.899548,5.518474,8.013453,5.848364,5.374482,5.530899,6.279223,...,5.142997,6.104192,5.927355,2.745894,0.127844,2.317679,2.952190,3.202544,-0.897014,3.914799
8,Angola,AGO,4.205999,13.665689,2.990000,10.950000,15.030000,11.550000,14.010000,11.170000,...,8.540000,4.950000,4.820000,0.940000,-2.580000,-0.150000,-1.316312,-0.700000,-5.500000,0.700000
9,Albania,ALB,8.293313,4.536524,5.528637,5.514668,5.526424,5.902659,5.983260,7.500041,...,1.417243,1.002018,1.774449,2.218726,3.314981,3.802227,4.019360,2.088063,-3.481630,8.544083
10,Andorra,AND,8.119358,4.546362,8.694204,8.135676,5.397796,4.808689,1.553188,-5.559186,...,-4.974444,-3.547597,2.504466,1.434140,3.709678,0.346072,1.588765,2.015548,-11.183940,8.949418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Samoa,WSM,7.390126,5.651960,5.212629,3.087262,6.639202,2.132130,0.485978,3.556103,...,-4.088723,-0.416473,0.052168,4.296881,8.126252,1.042432,-1.233160,4.379823,-2.589890,-8.078563
266,"Yemen, Rep.",YEM,3.803646,3.935232,3.747398,3.972696,5.591748,3.170409,3.338428,3.647569,...,2.392886,4.823415,-0.188574,-27.994546,-9.375124,-5.071796,0.752448,1.400000,-8.500000,-2.061513
267,South Africa,ZAF,2.700000,3.700374,2.949075,4.554560,5.277052,5.603806,5.360474,3.191044,...,2.396232,2.485468,1.413826,1.321862,0.664552,1.157947,1.487617,0.113054,-6.431975,4.914603
268,Zambia,ZMB,5.316868,4.506014,6.944974,7.032395,7.235599,7.903694,8.352436,7.773896,...,7.597593,5.057232,4.697992,2.920375,3.776679,3.504336,4.034494,1.441306,-2.785055,3.572815
269,Zimbabwe,ZWE,1.439615,-8.894024,-16.995075,-5.807538,-5.711084,-3.461495,-3.653327,-17.668946,...,16.665429,1.989493,2.376929,1.779873,0.755869,4.709492,4.824211,-6.144236,-6.248748,5.849420

In [10]:
#check null values
GDP_growth_df.isnull().sum()

Country Name    0
Country Code    0
2001            0
2002            0
2003            0
2004            0
2005            0
2006            0
2007            0
2008            0
2009            0
2010            0
2011            0
2012            0
2013            0
2014            0
2015            0
2016            0
2017            0
2018            0
2019            0
2020            0
2021            0
dtype: int64

In [11]:
#check the number of rows
GDP_growth_df.count()

Country Name    222
Country Code    222
2001            222
2002            222
2003            222
2004            222
2005            222
2006            222
2007            222
2008            222
2009            222
2010            222
2011            222
2012            222
2013            222
2014            222
2015            222
2016            222
2017            222
2018            222
2019            222
2020            222
2021            222
dtype: int64

In [12]:
#check country names for strings that are not countries
GDP_growth_df['Country Name'].unique().tolist()

['Africa Eastern and Southern',
 'Africa Western and Central',
 'Angola',
 'Albania',
 'Andorra',
 'Arab World',
 'Argentina',
 'Armenia',
 'Antigua and Barbuda',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Burundi',
 'Belgium',
 'Benin',
 'Burkina Faso',
 'Bangladesh',
 'Bulgaria',
 'Bahrain',
 'Bahamas, The',
 'Bosnia and Herzegovina',
 'Belarus',
 'Belize',
 'Bermuda',
 'Bolivia',
 'Brazil',
 'Barbados',
 'Brunei Darussalam',
 'Botswana',
 'Central African Republic',
 'Canada',
 'Central Europe and the Baltics',
 'Switzerland',
 'Chile',
 'China',
 "Cote d'Ivoire",
 'Cameroon',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Colombia',
 'Comoros',
 'Cabo Verde',
 'Costa Rica',
 'Caribbean small states',
 'Cyprus',
 'Czech Republic',
 'Germany',
 'Dominica',
 'Denmark',
 'Dominican Republic',
 'Algeria',
 'East Asia & Pacific (excluding high income)',
 'Early-demographic dividend',
 'East Asia & Pacific',
 'Europe & Central Asia (excluding high income)',
 'Europe & Central Asia',
 'Ecuador',
 'Egypt, Arab Rep.',
 'Euro area',
 'Spain',
 'Estonia',
 'Ethiopia',
 'European Union',
 'Fragile and conflict affected situations',
 'Finland',
 'Fiji',
 'France',
 'Micronesia, Fed. Sts.',
 'Gabon',
 'United Kingdom',
 'Georgia',
 'Ghana',
 'Guinea',
 'Gambia, The',
 'Guinea-Bissau',
 'Equatorial Guinea',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guyana',
 'High income',
 'Hong Kong SAR, China',
 'Honduras',
 'Heavily indebted poor countries (HIPC)',
 'Croatia',
 'Haiti',
 'Hungary',
 'IBRD only',
 'IDA & IBRD total',
 'IDA total',
 'IDA blend',
 'Indonesia',
 'IDA only',
 'India',
 'Ireland',
 'Iraq',
 'Iceland',
 'Israel',
 'Italy',
 'Jamaica',
 'Jordan',
 'Japan',
 'Kazakhstan',
 'Kenya',
 'Kyrgyz Republic',
 'Cambodia',
 'St. Kitts and Nevis',
 'Korea, Rep.',
 'Latin America & Caribbean (excluding high income)',
 'Lao PDR',
 'Lebanon',
 'Liberia',
 'Libya',
 'St. Lucia',
 'Latin America & Caribbean',
 'Least developed countries: UN classification',
 'Low income',
 'Sri Lanka',
 'Lower middle income',
 'Low & middle income',
 'Lesotho',
 'Late-demographic dividend',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Macao SAR, China',
 'Morocco',
 'Moldova',
 'Madagascar',
 'Maldives',
 'Middle East & North Africa',
 'Mexico',
 'Marshall Islands',
 'Middle income',
 'North Macedonia',
 'Mali',
 'Malta',
 'Myanmar',
 'Middle East & North Africa (excluding high income)',
 'Montenegro',
 'Mongolia',
 'Mozambique',
 'Mauritania',
 'Mauritius',
 'Malawi',
 'Malaysia',
 'North America',
 'Namibia',
 'Niger',
 'Nigeria',
 'Nicaragua',
 'Netherlands',
 'Norway',
 'Nepal',
 'New Zealand',
 'OECD members',
 'Other small states',
 'Pakistan',
 'Panama',
 'Peru',
 'Philippines',
 'Papua New Guinea',
 'Poland',
 'Pre-demographic dividend',
 'Portugal',
 'Paraguay',
 'West Bank and Gaza',
 'Pacific island small states',
 'Post-demographic dividend',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'South Asia',
 'Saudi Arabia',
 'Sudan',
 'Senegal',
 'Singapore',
 'Solomon Islands',
 'Sierra Leone',
 'El Salvador',
 'Serbia',
 'Sub-Saharan Africa (excluding high income)',
 'Sub-Saharan Africa',
 'Small states',
 'Suriname',
 'Slovak Republic',
 'Slovenia',
 'Sweden',
 'Eswatini',
 'Seychelles',
 'Chad',
 'East Asia & Pacific (IDA & IBRD countries)',
 'Europe & Central Asia (IDA & IBRD countries)',
 'Togo',
 'Thailand',
 'Tajikistan',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Timor-Leste',
 'Middle East & North Africa (IDA & IBRD countries)',
 'South Asia (IDA & IBRD)',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkiye',
 'Tuvalu',
 'Tanzania',
 'Uganda',
 'Ukraine',
 'Upper middle income',
 'Uruguay',
 'United States',
 'Uzbekistan',
 'St. Vincent and the Grenadines',
 'Vietnam',
 'Vanuatu',
 'World',
 'Samoa',
 'Yemen, Rep.',
 'South Africa',
 'Zambia',
 'Zimbabwe']

## merge dataframe with country-codes.csv

In [13]:
#read in df for with country codes
country_codes = pd.read_csv(country_code_file_path)
country_codes_df = pd.DataFrame(country_codes)
country_codes_df

,English short name lower case,Alpha-2 code,Alpha-3 code,Numeric code,ISO 3166-2
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX
2,Albania,AL,ALB,8,ISO 3166-2:AL
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ
4,American Samoa,AS,ASM,16,ISO 3166-2:AS
...,...,...,...,...,...
241,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF
242,Western Sahara,EH,ESH,732,ISO 3166-2:EH
243,Yemen,YE,YEM,887,ISO 3166-2:YE
244,Zambia,ZM,ZMB,894,ISO 3166-2:ZM
245,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW

In [14]:
#check that there are no null values in counrty codes df
country_codes_df.isnull().sum()

English short name lower case    0
Alpha-2 code                     1
Alpha-3 code                     0
Numeric code                     0
ISO 3166-2                       0
dtype: int64

In [15]:
#show null row
null_country_codes = country_codes_df[country_codes_df.isna().any(axis=1)]
print(null_country_codes)

    English short name lower case Alpha-2 code Alpha-3 code  Numeric code  \
151                       Namibia          NaN          NAM           516

        ISO 3166-2
151  ISO 3166-2:NA

In [16]:
#Replace Namibia NaN with string for country code
namibia_code = "NA"
country_codes_df.loc[151,"Alpha-2 code"] = namibia_code

#recheck null values in country codes
print("Namibia info")
print(country_codes_df.loc[151])
print("")

print("Null Values")
print(country_codes_df.isnull().sum())

Namibia info
English short name lower case          Namibia
Alpha-2 code                                NA
Alpha-3 code                               NAM
Numeric code                               516
ISO 3166-2                       ISO 3166-2:NA
Name: 151, dtype: object

Null Values
English short name lower case    0
Alpha-2 code                     0
Alpha-3 code                     0
Numeric code                     0
ISO 3166-2                       0
dtype: int64

In [17]:
#rename country column in country_codes_df
country_codes_df = country_codes_df.rename({"English short name lower case":"Country Name", "Alpha-3 code":"Country Code"}, axis=1)
country_codes_df

          Country Name Alpha-2 code Country Code  Numeric code     ISO 3166-2
0          Afghanistan           AF          AFG             4  ISO 3166-2:AF
1        Åland Islands           AX          ALA           248  ISO 3166-2:AX
2              Albania           AL          ALB             8  ISO 3166-2:AL
3              Algeria           DZ          DZA            12  ISO 3166-2:DZ
4       American Samoa           AS          ASM            16  ISO 3166-2:AS
..                 ...          ...          ...           ...            ...
241  Wallis and Futuna           WF          WLF           876  ISO 3166-2:WF
242     Western Sahara           EH          ESH           732  ISO 3166-2:EH
243              Yemen           YE          YEM           887  ISO 3166-2:YE
244             Zambia           ZM          ZMB           894  ISO 3166-2:ZM
245           Zimbabwe           ZW          ZWE           716  ISO 3166-2:ZW

[246 rows x 5 columns]

In [18]:
#merge data Frames on country code
GDP_growth_df = GDP_growth_df.merge(country_codes_df, how="left", left_on=["Country Code"], right_on=["Country Code"])

# GDP_growth_df = GDP_growth_df.merge(country_codes_df, how="left", left_on=['Country Name'], right_on=["Country Name"])
GDP_growth_df

,Country Name_x,Country Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2016,2017,2018,2019,2020,2021,Country Name_y,Alpha-2 code,Numeric code,ISO 3166-2
0,Africa Eastern and Southern,AFE,3.658701,3.893379,3.080376,5.508355,6.116801,6.554881,6.604282,4.343456,...,2.217017,2.557135,2.485244,2.025941,-2.886856,4.303667,NaN,NaN,NaN,NaN
1,Africa Western and Central,AFW,5.212684,9.899548,5.518474,8.013453,5.848364,5.374482,5.530899,6.279223,...,0.127844,2.317679,2.952190,3.202544,-0.897014,3.914799,NaN,NaN,NaN,NaN
2,Angola,AGO,4.205999,13.665689,2.990000,10.950000,15.030000,11.550000,14.010000,11.170000,...,-2.580000,-0.150000,-1.316312,-0.700000,-5.500000,0.700000,Angola,AO,24.0,ISO 3166-2:AO
3,Albania,ALB,8.293313,4.536524,5.528637,5.514668,5.526424,5.902659,5.983260,7.500041,...,3.314981,3.802227,4.019360,2.088063,-3.481630,8.544083,Albania,AL,8.0,ISO 3166-2:AL
4,Andorra,AND,8.119358,4.546362,8.694204,8.135676,5.397796,4.808689,1.553188,-5.559186,...,3.709678,0.346072,1.588765,2.015548,-11.183940,8.949418,Andorra,AD,20.0,ISO 3166-2:AD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,Samoa,WSM,7.390126,5.651960,5.212629,3.087262,6.639202,2.132130,0.485978,3.556103,...,8.126252,1.042432,-1.233160,4.379823,-2.589890,-8.078563,Samoa,WS,882.0,ISO 3166-2:WS
218,"Yemen, Rep.",YEM,3.803646,3.935232,3.747398,3.972696,5.591748,3.170409,3.338428,3.647569,...,-9.375124,-5.071796,0.752448,1.400000,-8.500000,-2.061513,Yemen,YE,887.0,ISO 3166-2:YE
219,South Africa,ZAF,2.700000,3.700374,2.949075,4.554560,5.277052,5.603806,5.360474,3.191044,...,0.664552,1.157947,1.487617,0.113054,-6.431975,4.914603,South Africa,ZA,710.0,ISO 3166-2:ZA
220,Zambia,ZMB,5.316868,4.506014,6.944974,7.032395,7.235599,7.903694,8.352436,7.773896,...,3.776679,3.504336,4.034494,1.441306,-2.785055,3.572815,Zambia,ZM,894.0,ISO 3166-2:ZM
221,Zimbabwe,ZWE,1.439615,-8.894024,-16.995075,-5.807538,-5.711084,-3.461495,-3.653327,-17.668946,...,0.755869,4.709492,4.824211,-6.144236,-6.248748,5.849420,Zimbabwe,ZW,716.0,ISO 3166-2:ZW

In [19]:
#check null values
GDP_growth_df.isnull().sum()

Country Name_x     0
Country Code       0
2001               0
2002               0
2003               0
2004               0
2005               0
2006               0
2007               0
2008               0
2009               0
2010               0
2011               0
2012               0
2013               0
2014               0
2015               0
2016               0
2017               0
2018               0
2019               0
2020               0
2021               0
Country Name_y    48
Alpha-2 code      48
Numeric code      48
ISO 3166-2        48
dtype: int64

In [20]:
#Check that null values are not actually countries
new_null_rows = GDP_growth_df[GDP_growth_df.isna().any(axis=1)]
new_null_rows_df = pd.DataFrame(new_null_rows)
new_null_rows_df["Country Name_x"]

0                            Africa Eastern and Southern
1                             Africa Western and Central
5                                             Arab World
31                        Central Europe and the Baltics
43                                Caribbean small states
51           East Asia & Pacific (excluding high income)
52                            Early-demographic dividend
53                                   East Asia & Pacific
54         Europe & Central Asia (excluding high income)
55                                 Europe & Central Asia
58                                             Euro area
62                                        European Union
63              Fragile and conflict affected situations
80                                           High income
83                Heavily indebted poor countries (HIPC)
87                                             IBRD only
88                                      IDA & IBRD total
89                                             IDA total
90                                             IDA blend
92                                              IDA only
108    Latin America & Caribbean (excluding high income)
114                            Latin America & Caribbean
115         Least developed countries: UN classification
116                                           Low income
118                                  Lower middle income
119                                  Low & middle income
121                            Late-demographic dividend
130                           Middle East & North Africa
133                                        Middle income
138    Middle East & North Africa (excluding high inc...
146                                        North America
155                                         OECD members
156                                   Other small states
163                             Pre-demographic dividend
167                          Pacific island small states
168                            Post-demographic dividend
173                                           South Asia
182           Sub-Saharan Africa (excluding high income)
183                                   Sub-Saharan Africa
184                                         Small states
192           East Asia & Pacific (IDA & IBRD countries)
193         Europe & Central Asia (IDA & IBRD countries)
197    Latin America & the Caribbean (IDA & IBRD coun...
199    Middle East & North Africa (IDA & IBRD countries)
200                              South Asia (IDA & IBRD)
201            Sub-Saharan Africa (IDA & IBRD countries)
209                                  Upper middle income
216                                                World
Name: Country Name_x, dtype: object

In [21]:
#drop rows that are not countries
GDP_growth_df = GDP_growth_df.dropna()

In [22]:
#check null values
GDP_growth_df.isnull().sum()

Country Name_x    0
Country Code      0
2001              0
2002              0
2003              0
2004              0
2005              0
2006              0
2007              0
2008              0
2009              0
2010              0
2011              0
2012              0
2013              0
2014              0
2015              0
2016              0
2017              0
2018              0
2019              0
2020              0
2021              0
Country Name_y    0
Alpha-2 code      0
Numeric code      0
ISO 3166-2        0
dtype: int64

In [23]:
#clean up data frame

#a. drop country name row from GDP_growth_df
GDP_growth_df = GDP_growth_df.drop(['Country Name_x', 'Alpha-2 code', 'Numeric code', 'ISO 3166-2'], axis=1)

#b. rename new Country name Column
GDP_growth_df = GDP_growth_df.rename({"Country Name_y": "Country Name"}, axis=1)

In [24]:
#c. list column names 
columns = list(GDP_growth_df.columns.values)
print(columns)

['Country Code', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', 'Country Name']

In [25]:
#d.reorganize columns
GDP_growth_df = GDP_growth_df.loc[:,["Country Name",'Country Code', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']]
GDP_growth_df

,Country Name,Country Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
2,Angola,AGO,4.205999,13.665689,2.990000,10.950000,15.030000,11.550000,14.010000,11.170000,...,8.540000,4.950000,4.820000,0.940000,-2.580000,-0.150000,-1.316312,-0.700000,-5.500000,0.700000
3,Albania,ALB,8.293313,4.536524,5.528637,5.514668,5.526424,5.902659,5.983260,7.500041,...,1.417243,1.002018,1.774449,2.218726,3.314981,3.802227,4.019360,2.088063,-3.481630,8.544083
4,Andorra,AND,8.119358,4.546362,8.694204,8.135676,5.397796,4.808689,1.553188,-5.559186,...,-4.974444,-3.547597,2.504466,1.434140,3.709678,0.346072,1.588765,2.015548,-11.183940,8.949418
6,Argentina,ARG,-4.408840,-10.894485,8.837041,9.029573,8.851660,8.047152,9.007651,4.057233,...,-1.026420,2.405324,-2.512615,2.731160,-2.080328,2.818503,-2.617396,-2.025934,-9.895269,10.263761
7,Armenia,ARM,9.600000,13.200000,14.000000,10.500000,13.900000,13.200000,13.700000,6.900000,...,7.200000,3.300000,3.600000,3.200000,0.200000,7.500000,5.200000,7.600000,-7.400000,5.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,Samoa,WSM,7.390126,5.651960,5.212629,3.087262,6.639202,2.132130,0.485978,3.556103,...,-4.088723,-0.416473,0.052168,4.296881,8.126252,1.042432,-1.233160,4.379823,-2.589890,-8.078563
218,Yemen,YEM,3.803646,3.935232,3.747398,3.972696,5.591748,3.170409,3.338428,3.647569,...,2.392886,4.823415,-0.188574,-27.994546,-9.375124,-5.071796,0.752448,1.400000,-8.500000,-2.061513
219,South Africa,ZAF,2.700000,3.700374,2.949075,4.554560,5.277052,5.603806,5.360474,3.191044,...,2.396232,2.485468,1.413826,1.321862,0.664552,1.157947,1.487617,0.113054,-6.431975,4.914603
220,Zambia,ZMB,5.316868,4.506014,6.944974,7.032395,7.235599,7.903694,8.352436,7.773896,...,7.597593,5.057232,4.697992,2.920375,3.776679,3.504336,4.034494,1.441306,-2.785055,3.572815
221,Zimbabwe,ZWE,1.439615,-8.894024,-16.995075,-5.807538,-5.711084,-3.461495,-3.653327,-17.668946,...,16.665429,1.989493,2.376929,1.779873,0.755869,4.709492,4.824211,-6.144236,-6.248748,5.849420

## merge DataFrame with countries_region_income.csv

In [26]:
#read in csv
region_income = pd.read_csv(countries_region_income)

#create DataFrame
region_income_df = pd.DataFrame(region_income)
region_income_df

,Country Code,Region,IncomeGroup,SpecialNotes,TableName
0,ABW,Latin America & Caribbean,High income,NaN,Aruba
1,AFE,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern
2,AFG,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan
3,AFW,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central
4,AGO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola
...,...,...,...,...,...
260,XKX,Europe & Central Asia,Upper middle income,NaN,Kosovo
261,YEM,Middle East & North Africa,Low income,The World Bank systematically assesses the app...,"Yemen, Rep."
262,ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa
263,ZMB,Sub-Saharan Africa,Low income,National accounts data were rebased to reflect...,Zambia
264,ZWE,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe

In [27]:
#merge df with region_income_df
GDP_growth_df = GDP_growth_df.merge(region_income_df, how="left", left_on=["Country Code"], right_on=["Country Code"])
GDP_growth_df

,Country Name,Country Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2016,2017,2018,2019,2020,2021,Region,IncomeGroup,SpecialNotes,TableName
0,Angola,AGO,4.205999,13.665689,2.990000,10.950000,15.030000,11.550000,14.010000,11.170000,...,-2.580000,-0.150000,-1.316312,-0.700000,-5.500000,0.700000,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola
1,Albania,ALB,8.293313,4.536524,5.528637,5.514668,5.526424,5.902659,5.983260,7.500041,...,3.314981,3.802227,4.019360,2.088063,-3.481630,8.544083,Europe & Central Asia,Upper middle income,NaN,Albania
2,Andorra,AND,8.119358,4.546362,8.694204,8.135676,5.397796,4.808689,1.553188,-5.559186,...,3.709678,0.346072,1.588765,2.015548,-11.183940,8.949418,Europe & Central Asia,High income,NaN,Andorra
3,Argentina,ARG,-4.408840,-10.894485,8.837041,9.029573,8.851660,8.047152,9.007651,4.057233,...,-2.080328,2.818503,-2.617396,-2.025934,-9.895269,10.263761,Latin America & Caribbean,Upper middle income,The World Bank systematically assesses the app...,Argentina
4,Armenia,ARM,9.600000,13.200000,14.000000,10.500000,13.900000,13.200000,13.700000,6.900000,...,0.200000,7.500000,5.200000,7.600000,-7.400000,5.700000,Europe & Central Asia,Upper middle income,NaN,Armenia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,Samoa,WSM,7.390126,5.651960,5.212629,3.087262,6.639202,2.132130,0.485978,3.556103,...,8.126252,1.042432,-1.233160,4.379823,-2.589890,-8.078563,East Asia & Pacific,Lower middle income,The reporting period for national accounts dat...,Samoa
170,Yemen,YEM,3.803646,3.935232,3.747398,3.972696,5.591748,3.170409,3.338428,3.647569,...,-9.375124,-5.071796,0.752448,1.400000,-8.500000,-2.061513,Middle East & North Africa,Low income,The World Bank systematically assesses the app...,"Yemen, Rep."
171,South Africa,ZAF,2.700000,3.700374,2.949075,4.554560,5.277052,5.603806,5.360474,3.191044,...,0.664552,1.157947,1.487617,0.113054,-6.431975,4.914603,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa
172,Zambia,ZMB,5.316868,4.506014,6.944974,7.032395,7.235599,7.903694,8.352436,7.773896,...,3.776679,3.504336,4.034494,1.441306,-2.785055,3.572815,Sub-Saharan Africa,Low income,National accounts data were rebased to reflect...,Zambia
173,Zimbabwe,ZWE,1.439615,-8.894024,-16.995075,-5.807538,-5.711084,-3.461495,-3.653327,-17.668946,...,0.755869,4.709492,4.824211,-6.144236,-6.248748,5.849420,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe

In [28]:
#check null values
GDP_growth_df.isnull().sum()

Country Name     0
Country Code     0
2001             0
2002             0
2003             0
2004             0
2005             0
2006             0
2007             0
2008             0
2009             0
2010             0
2011             0
2012             0
2013             0
2014             0
2015             0
2016             0
2017             0
2018             0
2019             0
2020             0
2021             0
Region           0
IncomeGroup      0
SpecialNotes    98
TableName        0
dtype: int64

In [29]:
#drop unnecessary columns
#a. list columns
columns = list(GDP_growth_df.columns.values)
print(columns)

['Country Name', 'Country Code', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', 'Region', 'IncomeGroup', 'SpecialNotes', 'TableName']

In [30]:
#b. drop columns
GDP_growth_df = GDP_growth_df.drop(['Region', 'SpecialNotes', 'TableName'], axis=1)
GDP_growth_df

,Country Name,Country Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,IncomeGroup
0,Angola,AGO,4.205999,13.665689,2.990000,10.950000,15.030000,11.550000,14.010000,11.170000,...,4.950000,4.820000,0.940000,-2.580000,-0.150000,-1.316312,-0.700000,-5.500000,0.700000,Lower middle income
1,Albania,ALB,8.293313,4.536524,5.528637,5.514668,5.526424,5.902659,5.983260,7.500041,...,1.002018,1.774449,2.218726,3.314981,3.802227,4.019360,2.088063,-3.481630,8.544083,Upper middle income
2,Andorra,AND,8.119358,4.546362,8.694204,8.135676,5.397796,4.808689,1.553188,-5.559186,...,-3.547597,2.504466,1.434140,3.709678,0.346072,1.588765,2.015548,-11.183940,8.949418,High income
3,Argentina,ARG,-4.408840,-10.894485,8.837041,9.029573,8.851660,8.047152,9.007651,4.057233,...,2.405324,-2.512615,2.731160,-2.080328,2.818503,-2.617396,-2.025934,-9.895269,10.263761,Upper middle income
4,Armenia,ARM,9.600000,13.200000,14.000000,10.500000,13.900000,13.200000,13.700000,6.900000,...,3.300000,3.600000,3.200000,0.200000,7.500000,5.200000,7.600000,-7.400000,5.700000,Upper middle income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,Samoa,WSM,7.390126,5.651960,5.212629,3.087262,6.639202,2.132130,0.485978,3.556103,...,-0.416473,0.052168,4.296881,8.126252,1.042432,-1.233160,4.379823,-2.589890,-8.078563,Lower middle income
170,Yemen,YEM,3.803646,3.935232,3.747398,3.972696,5.591748,3.170409,3.338428,3.647569,...,4.823415,-0.188574,-27.994546,-9.375124,-5.071796,0.752448,1.400000,-8.500000,-2.061513,Low income
171,South Africa,ZAF,2.700000,3.700374,2.949075,4.554560,5.277052,5.603806,5.360474,3.191044,...,2.485468,1.413826,1.321862,0.664552,1.157947,1.487617,0.113054,-6.431975,4.914603,Upper middle income
172,Zambia,ZMB,5.316868,4.506014,6.944974,7.032395,7.235599,7.903694,8.352436,7.773896,...,5.057232,4.697992,2.920375,3.776679,3.504336,4.034494,1.441306,-2.785055,3.572815,Low income
173,Zimbabwe,ZWE,1.439615,-8.894024,-16.995075,-5.807538,-5.711084,-3.461495,-3.653327,-17.668946,...,1.989493,2.376929,1.779873,0.755869,4.709492,4.824211,-6.144236,-6.248748,5.849420,Lower middle income

In [31]:
# set country name equal to index
# clean_GDP_df.set_index(clean_GDP_df.columns[0])