In [1]:
#initial Imports
import pandas as pd
import os

In [2]:
#csv files toload
file_path = ("Resources/GDP_growth.csv")
country_code_file_path = ("Resources/country-codes.csv")
countries_region_income = ("Resources/countries_region_income.csv")

## Clean GDP_Growth

In [3]:
#read in df
GDP_growth = pd.read_csv(file_path)
df = pd.DataFrame(GDP_growth)
df.head(10)

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Last Updated Date,9/16/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000
4,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.035375,6.429817,-0.020479,3.543630,2.116716,5.482371,1.267218,-2.085600,-22.318948,NaN
5,Africa Eastern and Southern,AFE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,0.239594,7.980768,5.164334,4.579952,5.327717,...,0.923067,4.200209,3.984387,2.952845,2.217017,2.557135,2.485244,2.025941,-2.886856,4.303667
6,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,12.752287,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603,-2.351101,NaN
7,Africa Western and Central,AFW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,1.848752,3.770220,7.272440,5.396349,4.049793,...,5.142997,6.104192,5.927355,2.745894,0.127844,2.317679,2.952190,3.202544,-0.897014,3.914799
8,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,8.540000,4.950000,4.820000,0.940000,-2.580000,-0.150000,-1.316312,-0.700000,-5.500000,0.700000
9,Albania,ALB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,1.417243,1.002018,1.774449,2.218726,3.314981,3.802227,4.019360,2.088063,-3.481630,8.544083

In [4]:
#get header rows
headers = []

In [5]:
#drop first 3 rows with no data
GDP_growth_df = df.iloc[3:, :]

#use new first row as headers
headers = GDP_growth_df.iloc[0]
GDP_growth_df = GDP_growth_df[1:]
GDP_growth_df.columns = headers

GDP_growth_df.head(10)

3,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
4,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.035375,6.429817,-0.020479,3.543630,2.116716,5.482371,1.267218,-2.085600,-22.318948,NaN
5,Africa Eastern and Southern,AFE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,0.239594,7.980768,5.164334,4.579952,5.327717,...,0.923067,4.200209,3.984387,2.952845,2.217017,2.557135,2.485244,2.025941,-2.886856,4.303667
6,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,12.752287,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603,-2.351101,NaN
7,Africa Western and Central,AFW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,1.848752,3.770220,7.272440,5.396349,4.049793,...,5.142997,6.104192,5.927355,2.745894,0.127844,2.317679,2.952190,3.202544,-0.897014,3.914799
8,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,8.540000,4.950000,4.820000,0.940000,-2.580000,-0.150000,-1.316312,-0.700000,-5.500000,0.700000
9,Albania,ALB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,1.417243,1.002018,1.774449,2.218726,3.314981,3.802227,4.019360,2.088063,-3.481630,8.544083
10,Andorra,AND,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-4.974444,-3.547597,2.504466,1.434140,3.709678,0.346072,1.588765,2.015548,-11.183940,8.949418
11,Arab World,ARB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,5.074697,2.564217,2.348679,3.052634,3.175147,1.242608,2.363881,1.586319,-5.051383,3.530294
12,United Arab Emirates,ARE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,4.483792,5.053078,4.410085,5.060335,2.984216,2.373551,1.189856,3.411539,-6.134501,NaN
13,Argentina,ARG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,5.427843,-0.852022,-5.308197,10.130298,10.569433,...,-1.026420,2.405324,-2.512615,2.731160,-2.080328,2.818503,-2.617396,-2.025934,-9.895269,10.263761

In [6]:
#drop columns that will not be of use
GDP_growth_df = GDP_growth_df.drop(GDP_growth_df.columns[2:45], inplace=False, axis=1)
GDP_growth_df = GDP_growth_df.drop(GDP_growth_df.columns[21:23], inplace=False, axis=1)
GDP_growth_df

3,Country Name,Country Code,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
4,Aruba,ABW,4.195963,-0.957771,1.120879,7.281026,-0.384927,1.138906,3.096722,1.833431,...,-2.732596,3.366778,-1.035375,6.429817,-0.020479,3.543630,2.116716,5.482371,1.267218,-2.085600
5,Africa Eastern and Southern,AFE,3.658701,3.893379,3.080376,5.508355,6.116801,6.554881,6.604282,4.343456,...,5.152125,3.680870,0.923067,4.200209,3.984387,2.952845,2.217017,2.557135,2.485244,2.025941
6,Afghanistan,AFG,NaN,NaN,8.832278,1.414118,11.229715,5.357403,13.826320,3.924984,...,14.362441,0.426355,12.752287,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603
7,Africa Western and Central,AFW,5.212684,9.899548,5.518474,8.013453,5.848364,5.374482,5.530899,6.279223,...,6.957030,4.848333,5.142997,6.104192,5.927355,2.745894,0.127844,2.317679,2.952190,3.202544
8,Angola,AGO,4.205999,13.665689,2.990000,10.950000,15.030000,11.550000,14.010000,11.170000,...,4.860000,3.470000,8.540000,4.950000,4.820000,0.940000,-2.580000,-0.150000,-1.316312,-0.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.939924,6.319886,1.712195,5.340908,3.348804,5.916270,5.571757,4.825690,3.406631,4.756831
266,"Yemen, Rep.",YEM,3.803646,3.935232,3.747398,3.972696,5.591748,3.170409,3.338428,3.647569,...,7.702307,-12.714823,2.392886,4.823415,-0.188574,-27.994546,-9.375124,-5.071796,0.752448,1.400000
267,South Africa,ZAF,2.700000,3.700374,2.949075,4.554560,5.277052,5.603806,5.360474,3.191044,...,3.039733,3.168556,2.396232,2.485468,1.413826,1.321862,0.664552,1.157947,1.487617,0.113054
268,Zambia,ZMB,5.316868,4.506014,6.944974,7.032395,7.235599,7.903694,8.352436,7.773896,...,10.298223,5.564602,7.597593,5.057232,4.697992,2.920375,3.776679,3.504336,4.034494,1.441306
269,Zimbabwe,ZWE,1.439615,-8.894024,-16.995075,-5.807538,-5.711084,-3.461495,-3.653327,-17.668946,...,19.675323,14.193913,16.665429,1.989493,2.376929,1.779873,0.755869,4.709492,4.824211,-6.144236

In [7]:
#clean Up DataFrame
#replace column names
GDP_growth_df = GDP_growth_df.set_axis(['Country Name', 'Country Code', '2001', '2002','2003','2004','2005','2006',
                                            '2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017',
                                            '2018','2019'], axis = 1)
GDP_growth_df

,Country Name,Country Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
4,Aruba,ABW,4.195963,-0.957771,1.120879,7.281026,-0.384927,1.138906,3.096722,1.833431,...,-2.732596,3.366778,-1.035375,6.429817,-0.020479,3.543630,2.116716,5.482371,1.267218,-2.085600
5,Africa Eastern and Southern,AFE,3.658701,3.893379,3.080376,5.508355,6.116801,6.554881,6.604282,4.343456,...,5.152125,3.680870,0.923067,4.200209,3.984387,2.952845,2.217017,2.557135,2.485244,2.025941
6,Afghanistan,AFG,NaN,NaN,8.832278,1.414118,11.229715,5.357403,13.826320,3.924984,...,14.362441,0.426355,12.752287,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603
7,Africa Western and Central,AFW,5.212684,9.899548,5.518474,8.013453,5.848364,5.374482,5.530899,6.279223,...,6.957030,4.848333,5.142997,6.104192,5.927355,2.745894,0.127844,2.317679,2.952190,3.202544
8,Angola,AGO,4.205999,13.665689,2.990000,10.950000,15.030000,11.550000,14.010000,11.170000,...,4.860000,3.470000,8.540000,4.950000,4.820000,0.940000,-2.580000,-0.150000,-1.316312,-0.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.939924,6.319886,1.712195,5.340908,3.348804,5.916270,5.571757,4.825690,3.406631,4.756831
266,"Yemen, Rep.",YEM,3.803646,3.935232,3.747398,3.972696,5.591748,3.170409,3.338428,3.647569,...,7.702307,-12.714823,2.392886,4.823415,-0.188574,-27.994546,-9.375124,-5.071796,0.752448,1.400000
267,South Africa,ZAF,2.700000,3.700374,2.949075,4.554560,5.277052,5.603806,5.360474,3.191044,...,3.039733,3.168556,2.396232,2.485468,1.413826,1.321862,0.664552,1.157947,1.487617,0.113054
268,Zambia,ZMB,5.316868,4.506014,6.944974,7.032395,7.235599,7.903694,8.352436,7.773896,...,10.298223,5.564602,7.597593,5.057232,4.697992,2.920375,3.776679,3.504336,4.034494,1.441306
269,Zimbabwe,ZWE,1.439615,-8.894024,-16.995075,-5.807538,-5.711084,-3.461495,-3.653327,-17.668946,...,19.675323,14.193913,16.665429,1.989493,2.376929,1.779873,0.755869,4.709492,4.824211,-6.144236

In [8]:
#count null values in each row
GDP_growth_df.isnull().sum()

Country Name     0
Country Code     0
2001            22
2002            21
2003            16
2004            16
2005            15
2006            15
2007            14
2008            15
2009            13
2010            13
2011            13
2012            13
2013            13
2014            11
2015            12
2016            12
2017            12
2018            12
2019            14
dtype: int64

In [9]:
#drop Null Values
GDP_growth_df = GDP_growth_df.dropna()
GDP_growth_df

,Country Name,Country Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
4,Aruba,ABW,4.195963,-0.957771,1.120879,7.281026,-0.384927,1.138906,3.096722,1.833431,...,-2.732596,3.366778,-1.035375,6.429817,-0.020479,3.543630,2.116716,5.482371,1.267218,-2.085600
5,Africa Eastern and Southern,AFE,3.658701,3.893379,3.080376,5.508355,6.116801,6.554881,6.604282,4.343456,...,5.152125,3.680870,0.923067,4.200209,3.984387,2.952845,2.217017,2.557135,2.485244,2.025941
7,Africa Western and Central,AFW,5.212684,9.899548,5.518474,8.013453,5.848364,5.374482,5.530899,6.279223,...,6.957030,4.848333,5.142997,6.104192,5.927355,2.745894,0.127844,2.317679,2.952190,3.202544
8,Angola,AGO,4.205999,13.665689,2.990000,10.950000,15.030000,11.550000,14.010000,11.170000,...,4.860000,3.470000,8.540000,4.950000,4.820000,0.940000,-2.580000,-0.150000,-1.316312,-0.700000
9,Albania,ALB,8.293313,4.536524,5.528637,5.514668,5.526424,5.902659,5.983260,7.500041,...,3.706938,2.545406,1.417243,1.002018,1.774449,2.218726,3.314981,3.802227,4.019360,2.088063
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Samoa,WSM,7.390126,5.651960,5.212629,3.087262,6.639202,2.132130,0.485978,3.556103,...,2.550364,4.173394,-4.088723,-0.416473,0.052168,4.296881,8.126252,1.042432,-1.233160,4.379823
266,"Yemen, Rep.",YEM,3.803646,3.935232,3.747398,3.972696,5.591748,3.170409,3.338428,3.647569,...,7.702307,-12.714823,2.392886,4.823415,-0.188574,-27.994546,-9.375124,-5.071796,0.752448,1.400000
267,South Africa,ZAF,2.700000,3.700374,2.949075,4.554560,5.277052,5.603806,5.360474,3.191044,...,3.039733,3.168556,2.396232,2.485468,1.413826,1.321862,0.664552,1.157947,1.487617,0.113054
268,Zambia,ZMB,5.316868,4.506014,6.944974,7.032395,7.235599,7.903694,8.352436,7.773896,...,10.298223,5.564602,7.597593,5.057232,4.697992,2.920375,3.776679,3.504336,4.034494,1.441306
269,Zimbabwe,ZWE,1.439615,-8.894024,-16.995075,-5.807538,-5.711084,-3.461495,-3.653327,-17.668946,...,19.675323,14.193913,16.665429,1.989493,2.376929,1.779873,0.755869,4.709492,4.824211,-6.144236

In [10]:
#check null values
GDP_growth_df.isnull().sum()

Country Name    0
Country Code    0
2001            0
2002            0
2003            0
2004            0
2005            0
2006            0
2007            0
2008            0
2009            0
2010            0
2011            0
2012            0
2013            0
2014            0
2015            0
2016            0
2017            0
2018            0
2019            0
dtype: int64

In [11]:
#check the number of rows
GDP_growth_df.count()

Country Name    239
Country Code    239
2001            239
2002            239
2003            239
2004            239
2005            239
2006            239
2007            239
2008            239
2009            239
2010            239
2011            239
2012            239
2013            239
2014            239
2015            239
2016            239
2017            239
2018            239
2019            239
dtype: int64

In [12]:
#check country names for strings that are not countries
GDP_growth_df['Country Name'].unique().tolist()

['Aruba',
 'Africa Eastern and Southern',
 'Africa Western and Central',
 'Angola',
 'Albania',
 'Andorra',
 'Arab World',
 'United Arab Emirates',
 'Argentina',
 'Armenia',
 'Antigua and Barbuda',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Burundi',
 'Belgium',
 'Benin',
 'Burkina Faso',
 'Bangladesh',
 'Bulgaria',
 'Bahrain',
 'Bahamas, The',
 'Bosnia and Herzegovina',
 'Belarus',
 'Belize',
 'Bermuda',
 'Bolivia',
 'Brazil',
 'Barbados',
 'Brunei Darussalam',
 'Bhutan',
 'Botswana',
 'Central African Republic',
 'Canada',
 'Central Europe and the Baltics',
 'Switzerland',
 'Chile',
 'China',
 "Cote d'Ivoire",
 'Cameroon',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Colombia',
 'Comoros',
 'Cabo Verde',
 'Costa Rica',
 'Caribbean small states',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Germany',
 'Dominica',
 'Denmark',
 'Dominican Republic',
 'Algeria',
 'East Asia & Pacific (excluding high income)',
 'Early-demographic dividend',
 'East Asia & Pacific',
 'Europe & Central Asia (excluding high income)',
 'Europe & Central Asia',
 'Ecuador',
 'Egypt, Arab Rep.',
 'Euro area',
 'Spain',
 'Estonia',
 'Ethiopia',
 'European Union',
 'Fragile and conflict affected situations',
 'Finland',
 'Fiji',
 'France',
 'Micronesia, Fed. Sts.',
 'Gabon',
 'United Kingdom',
 'Georgia',
 'Ghana',
 'Guinea',
 'Gambia, The',
 'Guinea-Bissau',
 'Equatorial Guinea',
 'Greece',
 'Grenada',
 'Greenland',
 'Guatemala',
 'Guyana',
 'High income',
 'Hong Kong SAR, China',
 'Honduras',
 'Heavily indebted poor countries (HIPC)',
 'Croatia',
 'Haiti',
 'Hungary',
 'IBRD only',
 'IDA & IBRD total',
 'IDA total',
 'IDA blend',
 'Indonesia',
 'IDA only',
 'Isle of Man',
 'India',
 'Ireland',
 'Iran, Islamic Rep.',
 'Iraq',
 'Iceland',
 'Israel',
 'Italy',
 'Jamaica',
 'Jordan',
 'Japan',
 'Kazakhstan',
 'Kenya',
 'Kyrgyz Republic',
 'Cambodia',
 'Kiribati',
 'St. Kitts and Nevis',
 'Korea, Rep.',
 'Kuwait',
 'Latin America & Caribbean (excluding high income)',
 'Lao PDR',
 'Lebanon',
 'Liberia',
 'Libya',
 'St. Lucia',
 'Latin America & Caribbean',
 'Least developed countries: UN classification',
 'Low income',
 'Sri Lanka',
 'Lower middle income',
 'Low & middle income',
 'Lesotho',
 'Late-demographic dividend',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Macao SAR, China',
 'Morocco',
 'Monaco',
 'Moldova',
 'Madagascar',
 'Maldives',
 'Middle East & North Africa',
 'Mexico',
 'Marshall Islands',
 'Middle income',
 'North Macedonia',
 'Mali',
 'Malta',
 'Myanmar',
 'Middle East & North Africa (excluding high income)',
 'Montenegro',
 'Mongolia',
 'Mozambique',
 'Mauritania',
 'Mauritius',
 'Malawi',
 'Malaysia',
 'North America',
 'Namibia',
 'Niger',
 'Nigeria',
 'Nicaragua',
 'Netherlands',
 'Norway',
 'Nepal',
 'New Zealand',
 'OECD members',
 'Oman',
 'Other small states',
 'Pakistan',
 'Panama',
 'Peru',
 'Philippines',
 'Palau',
 'Papua New Guinea',
 'Poland',
 'Pre-demographic dividend',
 'Puerto Rico',
 'Portugal',
 'Paraguay',
 'West Bank and Gaza',
 'Pacific island small states',
 'Post-demographic dividend',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'South Asia',
 'Saudi Arabia',
 'Sudan',
 'Senegal',
 'Singapore',
 'Solomon Islands',
 'Sierra Leone',
 'El Salvador',
 'San Marino',
 'Serbia',
 'Sub-Saharan Africa (excluding high income)',
 'Sub-Saharan Africa',
 'Small states',
 'Suriname',
 'Slovak Republic',
 'Slovenia',
 'Sweden',
 'Eswatini',
 'Seychelles',
 'Chad',
 'East Asia & Pacific (IDA & IBRD countries)',
 'Europe & Central Asia (IDA & IBRD countries)',
 'Togo',
 'Thailand',
 'Tajikistan',
 'Turkmenistan',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Timor-Leste',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Tonga',
 'South Asia (IDA & IBRD)',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkiye',
 'Tuvalu',
 'Tanzania',
 'Uganda',
 'Ukraine',
 'Upper middle income',
 'Uruguay',
 'United States',
 'Uzbekistan',
 'St. Vincent and the Grenadines',
 'Vietnam',
 'Vanuatu',
 'World',
 'Samoa',
 'Yemen, Rep.',
 'South Africa',
 'Zambia',
 'Zimbabwe']

## merge dataframe with country-codes.csv

In [13]:
#read in df for with country codes
country_codes = pd.read_csv(country_code_file_path)
country_codes_df = pd.DataFrame(country_codes)
country_codes_df

,English short name lower case,Alpha-2 code,Alpha-3 code,Numeric code,ISO 3166-2
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX
2,Albania,AL,ALB,8,ISO 3166-2:AL
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ
4,American Samoa,AS,ASM,16,ISO 3166-2:AS
...,...,...,...,...,...
241,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF
242,Western Sahara,EH,ESH,732,ISO 3166-2:EH
243,Yemen,YE,YEM,887,ISO 3166-2:YE
244,Zambia,ZM,ZMB,894,ISO 3166-2:ZM
245,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW

In [14]:
#check that there are no null values in counrty codes df
country_codes_df.isnull().sum()

English short name lower case    0
Alpha-2 code                     1
Alpha-3 code                     0
Numeric code                     0
ISO 3166-2                       0
dtype: int64

In [15]:
#show null row
null_country_codes = country_codes_df[country_codes_df.isna().any(axis=1)]
print(null_country_codes)

    English short name lower case Alpha-2 code Alpha-3 code  Numeric code  \
151                       Namibia          NaN          NAM           516

        ISO 3166-2
151  ISO 3166-2:NA

In [16]:
#Replace Namibia NaN with string for country code
namibia_code = "NA"
country_codes_df.loc[151,"Alpha-2 code"] = namibia_code

#recheck null values in country codes
print("Namibia info")
print(country_codes_df.loc[151])
print("")

print("Null Values")
print(country_codes_df.isnull().sum())

Namibia info
English short name lower case          Namibia
Alpha-2 code                                NA
Alpha-3 code                               NAM
Numeric code                               516
ISO 3166-2                       ISO 3166-2:NA
Name: 151, dtype: object

Null Values
English short name lower case    0
Alpha-2 code                     0
Alpha-3 code                     0
Numeric code                     0
ISO 3166-2                       0
dtype: int64

In [17]:
#rename country column in country_codes_df
country_codes_df = country_codes_df.rename({"English short name lower case":"Country Name", "Alpha-3 code":"Country Code"}, axis=1)
country_codes_df

          Country Name Alpha-2 code Country Code  Numeric code     ISO 3166-2
0          Afghanistan           AF          AFG             4  ISO 3166-2:AF
1        Åland Islands           AX          ALA           248  ISO 3166-2:AX
2              Albania           AL          ALB             8  ISO 3166-2:AL
3              Algeria           DZ          DZA            12  ISO 3166-2:DZ
4       American Samoa           AS          ASM            16  ISO 3166-2:AS
..                 ...          ...          ...           ...            ...
241  Wallis and Futuna           WF          WLF           876  ISO 3166-2:WF
242     Western Sahara           EH          ESH           732  ISO 3166-2:EH
243              Yemen           YE          YEM           887  ISO 3166-2:YE
244             Zambia           ZM          ZMB           894  ISO 3166-2:ZM
245           Zimbabwe           ZW          ZWE           716  ISO 3166-2:ZW

[246 rows x 5 columns]

In [18]:
#merge data Frames on country code
GDP_growth_df = GDP_growth_df.merge(country_codes_df, how="left", left_on=["Country Code"], right_on=["Country Code"])

# GDP_growth_df = GDP_growth_df.merge(country_codes_df, how="left", left_on=['Country Name'], right_on=["Country Name"])
GDP_growth_df

,Country Name_x,Country Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,Country Name_y,Alpha-2 code,Numeric code,ISO 3166-2
0,Aruba,ABW,4.195963,-0.957771,1.120879,7.281026,-0.384927,1.138906,3.096722,1.833431,...,-0.020479,3.543630,2.116716,5.482371,1.267218,-2.085600,Aruba,AW,533.0,ISO 3166-2:AW
1,Africa Eastern and Southern,AFE,3.658701,3.893379,3.080376,5.508355,6.116801,6.554881,6.604282,4.343456,...,3.984387,2.952845,2.217017,2.557135,2.485244,2.025941,NaN,NaN,NaN,NaN
2,Africa Western and Central,AFW,5.212684,9.899548,5.518474,8.013453,5.848364,5.374482,5.530899,6.279223,...,5.927355,2.745894,0.127844,2.317679,2.952190,3.202544,NaN,NaN,NaN,NaN
3,Angola,AGO,4.205999,13.665689,2.990000,10.950000,15.030000,11.550000,14.010000,11.170000,...,4.820000,0.940000,-2.580000,-0.150000,-1.316312,-0.700000,Angola,AO,24.0,ISO 3166-2:AO
4,Albania,ALB,8.293313,4.536524,5.528637,5.514668,5.526424,5.902659,5.983260,7.500041,...,1.774449,2.218726,3.314981,3.802227,4.019360,2.088063,Albania,AL,8.0,ISO 3166-2:AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Samoa,WSM,7.390126,5.651960,5.212629,3.087262,6.639202,2.132130,0.485978,3.556103,...,0.052168,4.296881,8.126252,1.042432,-1.233160,4.379823,Samoa,WS,882.0,ISO 3166-2:WS
235,"Yemen, Rep.",YEM,3.803646,3.935232,3.747398,3.972696,5.591748,3.170409,3.338428,3.647569,...,-0.188574,-27.994546,-9.375124,-5.071796,0.752448,1.400000,Yemen,YE,887.0,ISO 3166-2:YE
236,South Africa,ZAF,2.700000,3.700374,2.949075,4.554560,5.277052,5.603806,5.360474,3.191044,...,1.413826,1.321862,0.664552,1.157947,1.487617,0.113054,South Africa,ZA,710.0,ISO 3166-2:ZA
237,Zambia,ZMB,5.316868,4.506014,6.944974,7.032395,7.235599,7.903694,8.352436,7.773896,...,4.697992,2.920375,3.776679,3.504336,4.034494,1.441306,Zambia,ZM,894.0,ISO 3166-2:ZM
238,Zimbabwe,ZWE,1.439615,-8.894024,-16.995075,-5.807538,-5.711084,-3.461495,-3.653327,-17.668946,...,2.376929,1.779873,0.755869,4.709492,4.824211,-6.144236,Zimbabwe,ZW,716.0,ISO 3166-2:ZW

In [19]:
#check null values
GDP_growth_df.isnull().sum()

Country Name_x     0
Country Code       0
2001               0
2002               0
2003               0
2004               0
2005               0
2006               0
2007               0
2008               0
2009               0
2010               0
2011               0
2012               0
2013               0
2014               0
2015               0
2016               0
2017               0
2018               0
2019               0
Country Name_y    49
Alpha-2 code      49
Numeric code      49
ISO 3166-2        49
dtype: int64

In [20]:
#Check that null values are not actually countries
new_null_rows = GDP_growth_df[GDP_growth_df.isna().any(axis=1)]
new_null_rows_df = pd.DataFrame(new_null_rows)
new_null_rows_df["Country Name_x"]

1                            Africa Eastern and Southern
2                             Africa Western and Central
6                                             Arab World
34                        Central Europe and the Baltics
46                                Caribbean small states
48                                               Curacao
56           East Asia & Pacific (excluding high income)
57                            Early-demographic dividend
58                                   East Asia & Pacific
59         Europe & Central Asia (excluding high income)
60                                 Europe & Central Asia
63                                             Euro area
67                                        European Union
68              Fragile and conflict affected situations
86                                           High income
89                Heavily indebted poor countries (HIPC)
93                                             IBRD only
94                                      IDA & IBRD total
95                                             IDA total
96                                             IDA blend
98                                              IDA only
118    Latin America & Caribbean (excluding high income)
124                            Latin America & Caribbean
125         Least developed countries: UN classification
126                                           Low income
128                                  Lower middle income
129                                  Low & middle income
131                            Late-demographic dividend
141                           Middle East & North Africa
144                                        Middle income
149    Middle East & North Africa (excluding high inc...
157                                        North America
166                                         OECD members
168                                   Other small states
176                             Pre-demographic dividend
181                          Pacific island small states
182                            Post-demographic dividend
187                                           South Asia
197           Sub-Saharan Africa (excluding high income)
198                                   Sub-Saharan Africa
199                                         Small states
207           East Asia & Pacific (IDA & IBRD countries)
208         Europe & Central Asia (IDA & IBRD countries)
213    Latin America & the Caribbean (IDA & IBRD coun...
215    Middle East & North Africa (IDA & IBRD countries)
217                              South Asia (IDA & IBRD)
218            Sub-Saharan Africa (IDA & IBRD countries)
226                                  Upper middle income
233                                                World
Name: Country Name_x, dtype: object

In [21]:
#drop rows that are not countries
GDP_growth_df = GDP_growth_df.dropna()

In [22]:
#check null values
GDP_growth_df.isnull().sum()

Country Name_x    0
Country Code      0
2001              0
2002              0
2003              0
2004              0
2005              0
2006              0
2007              0
2008              0
2009              0
2010              0
2011              0
2012              0
2013              0
2014              0
2015              0
2016              0
2017              0
2018              0
2019              0
Country Name_y    0
Alpha-2 code      0
Numeric code      0
ISO 3166-2        0
dtype: int64

In [23]:
#clean up data frame

#a. drop country name row from GDP_growth_df
GDP_growth_df = GDP_growth_df.drop(['Country Name_x', 'Alpha-2 code', 'Numeric code', 'ISO 3166-2'], axis=1)

#b. rename new Country name Column
GDP_growth_df = GDP_growth_df.rename({"Country Name_y": "Country Name"}, axis=1)

In [24]:
#c. list column names 
columns = list(GDP_growth_df.columns.values)
print(columns)

['Country Code', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', 'Country Name']

In [26]:
#d.reorganize columns
GDP_growth_df = GDP_growth_df.loc[:,["Country Name",'Country Code', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']]
GDP_growth_df

,Country Name,Country Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,4.195963,-0.957771,1.120879,7.281026,-0.384927,1.138906,3.096722,1.833431,...,-2.732596,3.366778,-1.035375,6.429817,-0.020479,3.543630,2.116716,5.482371,1.267218,-2.085600
3,Angola,AGO,4.205999,13.665689,2.990000,10.950000,15.030000,11.550000,14.010000,11.170000,...,4.860000,3.470000,8.540000,4.950000,4.820000,0.940000,-2.580000,-0.150000,-1.316312,-0.700000
4,Albania,ALB,8.293313,4.536524,5.528637,5.514668,5.526424,5.902659,5.983260,7.500041,...,3.706938,2.545406,1.417243,1.002018,1.774449,2.218726,3.314981,3.802227,4.019360,2.088063
5,Andorra,AND,8.119358,4.546362,8.694204,8.135676,5.397796,4.808689,1.553188,-5.559186,...,-1.974958,-0.008070,-4.974444,-3.547597,2.504466,1.434140,3.709678,0.346072,1.588765,2.015548
7,United Arab Emirates,ARE,1.399085,2.433457,8.800541,9.566437,4.855141,9.837320,3.184390,3.191836,...,1.602850,6.928509,4.483792,5.053078,4.410085,5.060335,2.984216,2.373551,1.189856,3.411539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Samoa,WSM,7.390126,5.651960,5.212629,3.087262,6.639202,2.132130,0.485978,3.556103,...,2.550364,4.173394,-4.088723,-0.416473,0.052168,4.296881,8.126252,1.042432,-1.233160,4.379823
235,Yemen,YEM,3.803646,3.935232,3.747398,3.972696,5.591748,3.170409,3.338428,3.647569,...,7.702307,-12.714823,2.392886,4.823415,-0.188574,-27.994546,-9.375124,-5.071796,0.752448,1.400000
236,South Africa,ZAF,2.700000,3.700374,2.949075,4.554560,5.277052,5.603806,5.360474,3.191044,...,3.039733,3.168556,2.396232,2.485468,1.413826,1.321862,0.664552,1.157947,1.487617,0.113054
237,Zambia,ZMB,5.316868,4.506014,6.944974,7.032395,7.235599,7.903694,8.352436,7.773896,...,10.298223,5.564602,7.597593,5.057232,4.697992,2.920375,3.776679,3.504336,4.034494,1.441306
238,Zimbabwe,ZWE,1.439615,-8.894024,-16.995075,-5.807538,-5.711084,-3.461495,-3.653327,-17.668946,...,19.675323,14.193913,16.665429,1.989493,2.376929,1.779873,0.755869,4.709492,4.824211,-6.144236

## Region Income

In [ ]:
#read in csv
region_income = pd.read_csv(countries_region_income)

#create DataFrame
region_income_df = pd.DataFrame(region_income)
region_income_df

In [ ]:
#merge df with region_income_df
GDP_growth_df = GDP_growth_df.merge(region_income_df, how="left", left_on=["Country Code"], right_on=["Country Code"])
GDP_growth_df

In [ ]:
#check null values
GDP_growth_df.isnull().sum()

In [ ]:
#drop unnecessary columns
#a. list columns
columns = list(GDP_growth_df.columns.values)
print(columns)

In [ ]:
#b. drop columns
GDP_growth_df = GDP_growth_df.drop(['Region', 'SpecialNotes', 'TableName'], axis=1)
GDP_growth_df

In [ ]:
# set country name equal to index
# clean_GDP_df.set_index(clean_GDP_df.columns[0])

In [28]:
#find top 10 countries
top_10_countries = GDP_growth_df.sort_values("2019").head(9)
top_10_countries

,Country Name,Country Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
122,Libyan Arab Jamahiriya,LBY,-1.762839,-0.958897,13.016037,4.461639,11.870757,6.500525,6.229983,-0.162048,...,5.027248,-50.338515,86.826748,-17.997962,-23.042806,-0.842656,-1.490941,32.491802,7.941368,-11.195695
120,Lebanon,LBN,3.839669,3.423150,3.227098,6.679445,2.685779,1.549515,9.310623,9.069128,...,7.975136,0.867340,2.564791,3.827873,2.484060,0.462321,1.554549,0.903029,-1.884705,-6.914925
238,Zimbabwe,ZWE,1.439615,-8.894024,-16.995075,-5.807538,-5.711084,-3.461495,-3.653327,-17.668946,...,19.675323,14.193913,16.665429,1.989493,2.376929,1.779873,0.755869,4.709492,4.824211,-6.144236
80,Equatorial Guinea,GNQ,63.379875,19.462834,13.955250,37.998727,16.748701,7.704918,15.282114,17.799109,...,-8.924176,6.523924,8.312872,-4.133199,0.415066,-9.110041,-8.816417,-5.667503,-6.236551,-5.481823
161,Nicaragua,NIC,2.960843,0.753939,2.520733,5.312171,4.282398,4.153200,5.076702,3.436374,...,4.409645,6.317476,6.495258,4.927503,4.785816,4.792057,4.563515,4.630796,-3.363706,-3.779889
135,Macao,MAC,2.888274,8.910359,11.640762,26.630577,8.075448,13.390252,14.476729,3.391275,...,25.122823,21.616588,9.242353,10.752807,-2.048310,-21.514411,-0.678943,9.983192,6.464614,-2.511980
121,Liberia,LBR,2.920275,3.763018,-30.145133,2.619847,5.281212,8.043910,9.535275,7.145691,...,6.099825,8.200768,7.993814,8.687288,0.701393,-0.018565,-1.554959,2.455156,1.157575,-2.467298
189,Sudan,SDN,6.500361,6.006472,6.288808,5.140889,5.643516,6.531412,5.735274,3.846745,...,3.858242,-3.213532,-17.004688,1.955145,4.661380,1.910177,3.467642,0.709256,-2.680931,-2.178251
0,Aruba,ABW,4.195963,-0.957771,1.120879,7.281026,-0.384927,1.138906,3.096722,1.833431,...,-2.732596,3.366778,-1.035375,6.429817,-0.020479,3.543630,2.116716,5.482371,1.267218,-2.085600

In [ ]:
for row in GDP_growth_df