In [2]:
#Import Depenencies

import pandas as pd

In [3]:
#Creating a path to the .csv file.

file_to_path = "military_expenditure.csv"

In [4]:
mil_csv = pd.read_csv(file_to_path)

In [5]:
#Creating a DataFrame using Pandas

mil_df = pd.DataFrame(mil_csv)
mil_df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Last Updated Date,9/16/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Country Name,Country Code,Indicator Name,Indicator Code,1960.000000,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.0
4,Aruba,ABW,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.667563,0.687148,0.725311,0.776151,0.773667,0.795720,0.797914,0.826154,1.060553,NaN
266,"Yemen, Rep.",YEM,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.573884,4.079527,3.966891,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,South Africa,ZAF,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,0.950977,1.467849,2.254837,2.064608,2.695609,2.630829,...,1.132793,1.123274,1.109438,1.099182,1.065200,1.030061,0.984961,0.978057,1.074193,NaN
268,Zambia,ZMB,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.357869,1.359737,1.633868,1.753234,1.429305,1.309596,1.409462,1.219375,1.154225,NaN
269,Zimbabwe,ZWE,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,1.189568,...,1.859609,1.868420,1.888080,1.886876,1.742494,1.544948,1.222795,0.698601,NaN,NaN

In [6]:
#Drop first 3 rows with no data
mil_df_clean = mil_df.iloc[3:, :]

#Use new first row as headers
headers = mil_df_clean.iloc[0]
mil_df_clean = mil_df_clean[1:]
mil_df_clean.columns = headers

mil_df_clean.head(10)

3,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
4,Aruba,ABW,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Africa Eastern and Southern,AFE,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,2.050105,2.401995,...,1.590403,1.775407,1.818083,1.634912,1.428237,1.503970,1.148091,1.108203,1.148447,NaN
6,Afghanistan,AFG,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.175416,1.076950,1.298013,0.994576,0.956772,0.945227,1.006746,1.118231,1.369684,NaN
7,Africa Western and Central,AFW,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,1.319918,1.316566,1.436640,1.471689,...,0.763744,0.824641,0.806714,0.720280,0.897885,0.883374,0.919130,0.871354,1.006796,NaN
8,Angola,AGO,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.236659,4.455239,4.698455,3.105426,2.733341,2.507985,1.871776,1.643740,1.615852,NaN
9,Albania,ALB,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.487083,1.408982,1.346516,1.162304,1.103581,1.108696,1.161266,1.291087,1.535465,NaN
10,Andorra,AND,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Arab World,ARB,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,4.777088,4.63219,5.257323,3.840472,4.759900,6.050344,...,5.024739,5.781257,6.417262,7.424918,6.097516,6.342684,6.087333,5.365260,5.706540,NaN
12,United Arab Emirates,ARE,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.075556,6.034686,5.643651,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Argentina,ARG,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,1.550000,2.14000,2.660000,1.680000,1.150000,1.070000,...,0.784825,0.837736,0.878101,0.850129,0.813140,0.856138,0.745499,0.706187,0.761487,NaN

In [7]:
mil_exp_df = mil_df_clean.drop(mil_df_clean.columns[2:45], inplace=False, axis=1)
mil_exp_df

3,Country Name,Country Code,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
4,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Africa Eastern and Southern,AFE,1.973854,2.055572,1.781584,1.873595,1.839747,1.858353,1.836788,1.969400,...,1.590403,1.775407,1.818083,1.634912,1.428237,1.503970,1.148091,1.108203,1.148447,NaN
6,Afghanistan,AFG,NaN,NaN,NaN,2.431258,1.992066,1.896234,2.566267,2.335546,...,1.175416,1.076950,1.298013,0.994576,0.956772,0.945227,1.006746,1.118231,1.369684,NaN
7,Africa Western and Central,AFW,1.036906,1.113996,0.957290,0.888394,0.732513,0.692776,0.757328,0.871846,...,0.763744,0.824641,0.806714,0.720280,0.897885,0.883374,0.919130,0.871354,1.006796,NaN
8,Angola,AGO,4.524354,2.869932,3.761479,3.471180,3.692241,3.761495,3.114054,3.573120,...,3.236659,4.455239,4.698455,3.105426,2.733341,2.507985,1.871776,1.643740,1.615852,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.016303,...,0.667563,0.687148,0.725311,0.776151,0.773667,0.795720,0.797914,0.826154,1.060553,NaN
266,"Yemen, Rep.",YEM,5.481015,6.895608,6.854552,5.301366,4.868317,4.308467,4.850723,4.445829,...,4.573884,4.079527,3.966891,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,South Africa,ZAF,1.483161,1.529310,1.468811,1.355729,1.383770,1.290747,1.177517,1.145843,...,1.132793,1.123274,1.109438,1.099182,1.065200,1.030061,0.984961,0.978057,1.074193,NaN
268,Zambia,ZMB,NaN,NaN,NaN,1.580900,1.674406,1.613646,1.652419,1.552422,...,1.357869,1.359737,1.633868,1.753234,1.429305,1.309596,1.409462,1.219375,1.154225,NaN
269,Zimbabwe,ZWE,2.867265,7.079265,2.298484,3.036586,1.627242,2.215763,NaN,NaN,...,1.859609,1.868420,1.888080,1.886876,1.742494,1.544948,1.222795,0.698601,NaN,NaN

In [9]:
mil_exp_df.drop(mil_exp_df.columns[22], inplace=True, axis=1)

In [11]:
mil_exp_df = mil_exp_df.set_axis(['Country Name', 'Country Code', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',\
                                   '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020'], axis=1)
mil_exp_df

,Country Name,Country Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
4,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Africa Eastern and Southern,AFE,1.973854,2.055572,1.781584,1.873595,1.839747,1.858353,1.836788,1.969400,...,1.555865,1.590403,1.775407,1.818083,1.634912,1.428237,1.503970,1.148091,1.108203,1.148447
6,Afghanistan,AFG,NaN,NaN,NaN,2.431258,1.992066,1.896234,2.566267,2.335546,...,1.821345,1.175416,1.076950,1.298013,0.994576,0.956772,0.945227,1.006746,1.118231,1.369684
7,Africa Western and Central,AFW,1.036906,1.113996,0.957290,0.888394,0.732513,0.692776,0.757328,0.871846,...,0.852292,0.763744,0.824641,0.806714,0.720280,0.897885,0.883374,0.919130,0.871354,1.006796
8,Angola,AGO,4.524354,2.869932,3.761479,3.471180,3.692241,3.761495,3.114054,3.573120,...,3.255660,3.236659,4.455239,4.698455,3.105426,2.733341,2.507985,1.871776,1.643740,1.615852
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.016303,...,0.761541,0.667563,0.687148,0.725311,0.776151,0.773667,0.795720,0.797914,0.826154,1.060553
266,"Yemen, Rep.",YEM,5.481015,6.895608,6.854552,5.301366,4.868317,4.308467,4.850723,4.445829,...,4.926462,4.573884,4.079527,3.966891,NaN,NaN,NaN,NaN,NaN,NaN
267,South Africa,ZAF,1.483161,1.529310,1.468811,1.355729,1.383770,1.290747,1.177517,1.145843,...,1.103258,1.132793,1.123274,1.109438,1.099182,1.065200,1.030061,0.984961,0.978057,1.074193
268,Zambia,ZMB,NaN,NaN,NaN,1.580900,1.674406,1.613646,1.652419,1.552422,...,1.317640,1.357869,1.359737,1.633868,1.753234,1.429305,1.309596,1.409462,1.219375,1.154225
269,Zimbabwe,ZWE,2.867265,7.079265,2.298484,3.036586,1.627242,2.215763,NaN,NaN,...,1.407162,1.859609,1.868420,1.888080,1.886876,1.742494,1.544948,1.222795,0.698601,NaN

In [13]:
mil_exp_df.count()

Country Name    266
Country Code    266
2001            188
2002            193
2003            197
2004            199
2005            200
2006            195
2007            193
2008            200
2009            197
2010            196
2011            190
2012            197
2013            199
2014            200
2015            196
2016            197
2017            197
2018            198
2019            195
2020            192
dtype: int64

In [14]:
mil_exp_df.dropna()

,Country Name,Country Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
5,Africa Eastern and Southern,AFE,1.973854,2.055572,1.781584,1.873595,1.839747,1.858353,1.836788,1.969400,...,1.555865,1.590403,1.775407,1.818083,1.634912,1.428237,1.503970,1.148091,1.108203,1.148447
7,Africa Western and Central,AFW,1.036906,1.113996,0.957290,0.888394,0.732513,0.692776,0.757328,0.871846,...,0.852292,0.763744,0.824641,0.806714,0.720280,0.897885,0.883374,0.919130,0.871354,1.006796
8,Angola,AGO,4.524354,2.869932,3.761479,3.471180,3.692241,3.761495,3.114054,3.573120,...,3.255660,3.236659,4.455239,4.698455,3.105426,2.733341,2.507985,1.871776,1.643740,1.615852
9,Albania,ALB,1.309291,1.320034,1.336843,1.381158,1.350005,1.567769,1.820765,1.984869,...,1.528266,1.487083,1.408982,1.346516,1.162304,1.103581,1.108696,1.161266,1.291087,1.535465
11,Arab World,ARB,6.313711,5.835110,5.517387,5.114258,4.662874,4.377627,4.496759,4.117716,...,4.919222,5.024739,5.781257,6.417262,7.424918,6.097516,6.342684,6.087333,5.365260,5.706540
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,Upper middle income,UMC,1.832174,1.926548,1.883460,1.789574,1.773271,1.758060,1.751449,1.784201,...,1.762106,1.821148,1.866418,1.880294,1.861373,1.883547,1.808951,1.778950,1.796336,1.860979
254,Uruguay,URY,2.502578,2.530140,2.237545,2.040728,2.000386,2.006178,1.777167,1.869525,...,1.719749,1.803670,1.816551,1.807429,1.820588,1.873464,1.956923,2.133949,2.059819,2.321460
255,United States,USA,3.123810,3.447618,3.827161,4.016313,4.090035,4.041627,4.079655,4.463827,...,4.840174,4.477401,4.046679,3.695895,3.477845,3.418942,3.313381,3.316249,3.427080,3.741160
263,World,WLD,2.241560,2.344505,2.405179,2.404043,2.394518,2.364068,2.329127,2.388295,...,2.413677,2.374768,2.306246,2.254021,2.254630,2.217752,2.173259,2.150316,2.187466,2.362373
267,South Africa,ZAF,1.483161,1.529310,1.468811,1.355729,1.383770,1.290747,1.177517,1.145843,...,1.103258,1.132793,1.123274,1.109438,1.099182,1.065200,1.030061,0.984961,0.978057,1.074193

In [16]:
mil_exp_df.count()

Country Name    266
Country Code    266
2001            188
2002            193
2003            197
2004            199
2005            200
2006            195
2007            193
2008            200
2009            197
2010            196
2011            190
2012            197
2013            199
2014            200
2015            196
2016            197
2017            197
2018            198
2019            195
2020            192
dtype: int64